@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: theme('colors.background');
  display: flex;
  place-items: center;
}


.anticon {
  vertical-align: 0.125em;
}